HEAD * {
  outline: solid 1px red;
}
:root {
  --mailing: #360b6a;
  --mailing-words: #fff;
  --mailing-button: #33f1b7;
  --culture-button: #8a43b7;
  --movies-button: #1a8247;
  --bg-light-gray: #e9eff3;
  --games-button: #49edda;
  --background-header: #222222;
}

body {
  background-color: whitesmoke;
  border: 0;
}
.top-img {
  border: 0;
  padding: 0;
}
.top-img-txt {
  position: relative;
  margin-top: -200px;
  margin-bottom: 100px;
  display: inline;
}
.button {
  font-size: 12px;
  background-color: #eb0000;
  font-family: Poppins, sans-serif;
  height: 30px;
  margin-left: 25px;
  justify-content: space-around;
}
.by-txt {
  display: inline;
  font-size: 20px;
}
.author {
  display: inline-flexbox;
  font-size: 30px;
  justify-content: left;
  margin-top: 5px;
}
.img-txt {
  font-size: 48px;
  justify-content: space-around;
}
.three-headlines {
  padding-left: 15px;
}
.img-L {
  height: 250px;
  width: 350px;
  object-fit: contain;
  align-items: center;
}

/* .ad-1 {
  height: 100px;
  justify-content: center;
}
.ad-2 {
  height: 100px;
  margin-bottom: 10px;
}
<<<<<<< HEAD
.cta-box {
  position: absolute;
  top: 0;
} */

/* *{
  outline: 1px solid red;
} */

.geek-card {
  height: 75%;
  width: 60%;
  object-fit: cover;
}

.mailing {
  background-color: var(--mailing);
}

.theme-words {
  color: var(--mailing-words);
}

.mailing-button {
  background-color: var(--mailing-button);
}

.culture-button {
  background-color: var(--culture-button);
}

.movies-button {
  background-color: var(--movies-button);
}

.theme-bg-g {
  background-color: var(--bg-light-gray);
}

.games-button {
  background-color: var(--games-button);
}

.position-column {
  position: absolute;
  right: 1%;
}

.bg-head-foot {
  background-color: var(--background-header);
}
